.pixelBox {
    position:relative;
    width: 50px;
    height: 50px;
    background-color: aqua;
    transition: 0.5s all;
}

.pixelBox:hover {
    width: 75px;
    height: 75px;
    transform: translate(5);
}